.axis {
  font: 16px sans-serif;
  stroke-width: 2px;
}

.axis .label {
  font: 21px sans-serif;  
}

.legend {
  font: 18px sans-serif;
}



#datasources .form-wrapper .form-inline > * {
   margin: 1em 1em;
}
