/* GLOBAL STYLES
-------------------------------------------------- */

body {
    /* smallest is nexus 4 */
    min-width: 384px;

    padding-top: 75px;
    padding-bottom: 30px;
}

.section {
    margin-top: 5em;
}

.subsection {
    margin-top: 3em;
}

.lead {
    font-size: 1.3em;
}

/* NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar {
    background-color: #34495e !important;
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-wrapper .navbar .container {
    width: auto;
}

.navbar-wrapper .navbar a, a:visited{
    text-decoration: none;
}

/* logo */
.navbar-wrapper .navbar .navbar-header .navbar-brand{
    padding: 0;
}
.navbar-wrapper .navbar .navbar-header .navbar-brand img{
    margin-top: 5px;
    margin-left: 5px;
    width: 40px;
}

/* END NAVBAR
-------------------------------------------------- */

/* ANOUNCEMENT
-------------------------------------------------- */
#announcement > .alert {
    padding: 5px;
    margin-bottom: 5px;
}

#announcement p {
    font-size: 15px;
    padding: 5px;
}

#announcement p a {
    color: darkgreen;
}

/* END ANOUNCEMENT
-------------------------------------------------- */


/* GREYBAND
-------------------------------------------------- */
#grey-band .lead {
    font-size: 1.2em;
}
/* END GREYBAND
-------------------------------------------------- */

/* APPS
-------------------------------------------------- */
#apps .tiles .tile-wrapper {
    padding: 0.25em;
}

#apps .tiles .tile-wrapper .tile > p{
    margin-bottom: 0.5em;
}

#apps .tiles .tile-wrapper .tile img{
    display: none;
}
/* END APPS
-------------------------------------------------- */



/* FAQ
-------------------------------------------------- */
div.qa {
    margin-bottom: 20px;
}

div.qa p {
    padding-left: 20px;
    margin-left: 5px;
    border-left: 1px solid #cecece;
    text-align: justify;
}
/* END FAQ
-------------------------------------------------- */



/* PUBLICATIONS
-------------------------------------------------- */

/* Data table fixes */
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}

table.table thead .sorting { background: url('../images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('../images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('../images/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('../images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('../images/sort_desc_disabled.png') no-repeat center right; }

div.dataTables_filter input {
    padding: 3px 3px 3px 3px;
}
/* END PUBLICATIONS
-------------------------------------------------- */



/* RESPONSIVE CSS
-------------------------------------------------- */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    #grey-band > .lead {
        font-size:  21px;
    }

    /* APPS */
    #apps .tiles .tile-wrapper .tile > h3{
        margin-top: 0.5em;
    }

    #apps .tiles .tile-wrapper .tile > p{
        margin-top: 1em;
        margin-bottom: 1em;
    }

    #apps .tiles .tile-wrapper .tile img{
        display: block;
        min-height: 150px;
        max-height: 150px;
    }

    #apps .tiles .tile-wrapper .tile img.fixed-size{
        display: block;
        min-height: 100px;
        max-height: 100px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}