/* START: GLOBAL */
body {

    padding-top: 75px;
    padding-bottom: 30px;
}

.subtitle {
  margin: 2em auto 1em 1em;
}

.container{
  min-width: 384px;
  max-width: 992px;
}

.section {
    margin-top: 5em;
}

.subsection {
    margin-top: 3em;
}

.list-group-item dl {
  margin-bottom: 0.5em;
}

.list-group-item dl dd {
  margin-left: 1em;
}
/* Typography */
.boost {
  font-size: 18px;
}

footer {
  margin: 3em;
}

/* pc-list-group */
.pc-list-group .pc-list-group-item {
  margin-top: 1.5em;
  position: relative;
  padding: 0;
}

.pc-list-group .pc-list-group-item .pc-list-group-item-text {
  position: absolute;
  color: #ECF0F1;
  background: rgba(44, 62, 80, 0.8);
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;
  overflow: hidden;
  padding: 1.5em;
  width: 50%;
}
.pc-list-group .pc-list-group-item .pc-list-group-item-text .pc-list-group-item-title {
  font-size: 21px;
  margin-bottom: 1.375rem;
}
.pc-list-group .pc-list-group-item .pc-list-group-item-text .pc-list-group-item-description {
  text-align: left;
  color: #BDC3C7;
  font-size: 15px;
  font-weight: 200;
}
.pc-list-group .pc-list-group-item .pc-list-group-item-meta {
  display: inline;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 50%;
  bottom: auto;
  left: auto;
  padding: 1em;
}


@media (max-width: 996px) {
  /* pc-list-group */
  .pc-list-group .pc-list-group-item .pc-list-group-item-text {
    padding: 0.8em;
    width: 70%;
  }
  .pc-list-group .pc-list-group-item .pc-list-group-item-meta {
    top: 0;
    right: 30%;
  }
}

@media (max-width: 768px) {

  .boost {
    font-size: 16px;
  }

  /* pc-list-group */
  .pc-list-group .pc-list-group-item {
    margin-top: 0.2em;
  }
  .pc-list-group .pc-list-group-item .pc-list-group-item-text {
      width: 100%;
  }
  .pc-list-group .pc-list-group-item .pc-list-group-item-text .pc-list-group-item-title {
    font-size: 18px;
    margin-bottom: 0.5em;
  }

  .pc-list-group .pc-list-group-item .pc-list-group-item-meta {
    display: none;
  }
}
/* END: GLOBAL */


/* START: NAVBAR */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar {
    background-color: #34495e !important;
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-wrapper .navbar .container {
     width: auto;
}

.navbar-wrapper .navbar .container #navbar .nav li{
    font-size: 1em;
}

.navbar-wrapper .navbar a, a:visited{
    text-decoration: none;
}

.navbar-wrapper .navbar .navbar-header .navbar-brand{
    padding: 0;
}
.navbar-wrapper .navbar .navbar-header .navbar-brand img{
    margin-top: 5px;
    margin-left: 5px;
    width: 40px;
}

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }
}
/* END: NAVBAR */


/* Start: JUMBOTRON */
.jumbotron h1 {
  font-size: 50px;
}

.jumbotron .brand {
  margin: 2em 0;
}

.jumbotron .splash {
  margin: 1.5em auto 3em;
  display: block;
}

.jumbotron blockquote p {
  font-size: 16px;
}

@media (max-width: 996px) {
  .jumbotron h1 {
    font-size: 36px;
  }
  .jumbotron .lead {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .jumbotron blockquote p {
    font-size: 14px;
  }

  .jumbotron .splash {
    display: none;
  }

  .jumbotron .lead {
    font-size: 18px;
  }

  .jumbotron .brand.ghost {
    position: absolute;
    right: 10%;
    top: 5em;
    opacity: 0.15;
    max-height: 150px;
  }
}
/* END: JUMBOTRON */


/* START: FAQ */
.qa {
    margin-bottom: 20px;
}

.qa .well p, li {
    text-align: justify;
    font-size: 16px;
}

#faq h2 {
    margin-top: 2em;
}
/* END: FAQ */


/* START: CONTACT */
/* END CONTACT */
